body {
  background-image: url("images/landing001.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  
}

.header {
  max-width: 60vw;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  font-size: 2vh;
}


.header__name {
  float: left;
  font-size: 24px;
}

.header__heading--big {
  font-size: 10vh;
  margin: 0 auto;
  display: table;
  font-weight: 700;
  color: #333;
  height: 110vh;
  line-height: 90vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
  display: -webkit-flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
}

.project {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  padding: 10px 0;
}

.projects {
  margin: 0 auto; 
  display: table;
}

.projects > h2 {
  text-align: center;
  color: #333;
}


.expertise {
  text-align: center;
  margin: 0 auto;
  width: 60vw;
  color: #333;
}

.expertise__container {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;   
  flex-wrap: wrap;
  justify-content: center;
}

.expertise__item {
  flex-basis: 33%;
  min-width: 130px;
  font-size: 2vh
}
.expertise__img {
  max-height: 10vh;
}

.button-link {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 29vw;
  min-width: 25%;
  min-height: 100%;
  height: 33vh;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: contain;
  color: #ffffff;
}

.button-link:hover .button-link__image {
  transform: scale3d(1.05, 1.05, 1.05); 
}

.button-link:hover .button-link__overlay {
  opacity: 0; 
}     

.button-link__image {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  transition: all 0.7s cubic-bezier(0.5,0.5,0.5,0.95); 
   -webkit-transition: all 0.3s cubic-bezier(0.5,0.5,0.5,0.95); 
  width: 100%;   
  transform: scale3d(1, 1, 1);
}

.button-link__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 2vh;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1a1a1a;
  opacity: 0.6;
  transition: all 0.3s ease;  
  -webkit-transition: all 0.3s ease-in;
  text-align: center; 
}
  
.project__description {
  max-width: 29vw;
  padding: 0 2vw;
  font-size: 2vh;
  text-align: justify;
  align-self: center;
  margin: 0;
}
 
.quote {
  height: 30vh;
  justify-content:center;
  max-width: 60vw;
  font-size: 2vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.quote__hr {
  width: 80%;
  border: 1px solid #999
}

.footer {
  max-height: 13vh;
  font-size: 2vh;
  height: 100%;
  background: black;
  color: white;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 60vw;
}

.footer__link {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 960px) {
  body {
    background-size: 120vh
  }

  .header {
    max-width: 90vw;
  }
  
  .header__heading--big {
    font-size: 6em;
    height: 80vh;
    line-height: 60vh;
  }

  .header__name {
    font-size: 1.4em;
  }

  .footer {
    max-width: 100%;
  }

  .expertise {
    padding-top: 5rem;
  }
     
  .project {
    flex-direction: column;
  }

  .button-link, .expertise{
    width: 90vw;
  }

  .button-link__overlay, .description, .expertise-item, header, .quote {
    font-size: 1em
  }

  .project__description {
    max-width: 90vw;
    margin-top: 20px;
  }

  .quote {
    max-width: 80vw;
    height: 50vh;
  }

}